.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;

}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard {
    background-color: #00C6FF !important;
}

.message__guestCard {
    background-color: whitesmoke !important;
}
